html {
  background: #dbdeff;
}

.App {
}
.separator{
  display: flex;
  align-items: center;
}

.separator h4{
  padding: 0 2rem; /* creates the space */
  color: #f0f0f0;
}

.separator .line{
  flex: 1;
  height: 3px;
  background-color: #f0f0f0;
}